.search__form {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  position: relative;
  button {
    all: unset;
    position: absolute;
    right: 38px;
    font-size: 17px;
    bottom: 46px;
    cursor: pointer;
    color: #63738d;
  }
}
