form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: $yellow;
  border-radius: 10px;
  border: 1px solid rgba($color: #fff, $alpha: 0.2);
}

//what the bg-color above//

input:not(input[type="range"]) {
  all: unset;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgb(168, 99, 47, 0.7);
  background-color: whitesmoke;
  margin-bottom: 5px;
  font-size: 17px;
  color: #63738d;
  width: 90%;
  &::placeholder {
    color: #63738d;
  }
}

.social__btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white !important;
  color: rgba($color: $bg, $alpha: 1) !important;
  text-align: center !important;
  cursor: pointer;
  display: block;
  border: none;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
