header {
  background-color: #f5f8fa;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    color: $yellow;
    font-size: 45px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #63738d;
    li {
      margin-left: 25px;
      font-size: 17px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 20px;
    }
    span {
      font-size: 20px;
    }
  }
  .header__btn {
    background-color: #a8632f;
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
