.empty.message {
  margin-bottom: 10px;
  font-size: 20px;
  background-color: tomato;
  color: white;
}

.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

//need to check what minmax is//

.auth-switch {
  text-align: center;
  margin-top: 40px;
  color: whitesmoke;
  opacity: 0.8;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
